@import "src/App.module";

.dbQueryExtraction {
  width: 100%; height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__copyButBox {
    position: absolute;
    right: 2rem;
    top: 6.4rem;
  }

  &__codeEditorWrapper {
    width: 100%; height: 90%;
    margin-top: .5rem;
  }
}

