@import "src/App.module";

.modal {
  width: 85%;
  margin: 0 auto;
  max-height: 35rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 2rem;


  &__form {
    width: 100%;

    &__group {
      margin: 2rem 0;
      display: flex;
      justify-content: space-between;
      gap: 30px;

      section { width: 100%}

      label {
        @include label-style;
      }
    }

    &__submit {
      @include button-style;
    }
  }
}

//테이블 컬럼 시작
.createTableColumn {
  width: 100%;

  &__titleSection {
    @include flex-space-between;
  }

  &__buttonBox {
    span {
      font-weight: $font-weight-bold;
      padding: 8px 10px;
      cursor: pointer;

      &:hover {
        color: $color-blue-deep;
      }
    }
  }

  &__tableSection {
    background-color: #fff;

    table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      background-color: #fff;
      margin-bottom: 16px;

      th, td {
        border: 1px solid #ccc; // 셀에 선 추가
        padding: 5px;
      }

      th {
        background-color: #f8f8f8;
        color: #333;
        // 헤더 고정
        position: sticky;
        top: -1px;
        z-index: 1;
      }
    }

    .columnName {
      width: 25%; // '이름' 열의 너비 설정
    }

    .dataType {
      width: 20%; // '데이터 타입' 열의 너비 설정
    }

    .pk, .fk, .uk, .nn {
      width: 5%; // 너비
    }

    .join {
      width: 30%; // '조인' 열의 너비 설정
    }

    input[type="checkbox"] {
      transform: scale(1.5); // 체크박스 크기를 1.5배로 확대
      margin: 0;
      cursor: pointer;
    }

    .joinBox {
      display: flex;
      align-items: center;
      gap: 2%;

      &__searchButton {
        position: relative;
        width: 4rem; height: 100%;

        h5 {
          width: 100%;
          cursor: pointer;
          background: #f2f2f2;
          border-radius: 4px;
          border: 1px solid grey;
          padding: .5rem 0;
          white-space: nowrap;
          margin: 0;
          text-align: center;
        }

        .searchBox {
          position: absolute;
          bottom: 2.5rem;
          right: 0;
          z-index: 99;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .createTableColumn__tableSection {
    th {
      font-size: 12px;
    }
  }
}



