@import "src/App.module";

.modal {
  width: 85%;
  margin: 0 auto;

  &__form {
    width: 100%;

    &__group {
      margin: 20px 0 20px 0;
      display: flex;
      justify-content: space-between;
      gap: 30px;

      section { width: 100%}

      label {
        @include label-style;
      }

      input {
        @include input-style;
      }
    }

    &__submit {
      @include button-style;
    }
  }
}

//테이블 컬럼 시작
.createTableColumn {
  width: 100%;

  &__titleSection {
    @include flex-space-between;
  }

  &__buttonBox {
    a {
      font-family: $font-KoPub-bold;
      padding: 8px 10px;
      cursor: pointer;

      &:hover {
        color: $color-blue-deep;
      }
    }
  }

  &__tableSection {
    height: 200px;
    overflow-y: auto;
    background-color: #fff;

    table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      background-color: #fff;
      margin-bottom: 16px;

      th, td {
        border: 1px solid #ccc; // 셀에 선 추가
        padding: 6px;
      }

      td { padding: 8px;}

      th {
        background-color: #f8f8f8;
        color: #333;
        border: 1px solid #ccc;
        // 헤더 고정
        position: sticky;
        top: -1px;
        z-index: 1;
      }
    }

    .columnName {
      width: 25%; // '이름' 열의 너비 설정
    }

    .dataType {
      width: 20%; // '데이터 타입' 열의 너비 설정
    }

    .pk, .fk, .uk, .nn {
      width: 5%; // 너비
    }

    .join {
      width: 30%; // '조인' 열의 너비 설정
    }

    input[type="checkbox"] {
      transform: scale(1.5); // 체크박스 크기를 1.5배로 확대
      margin: 0;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .createTableColumn__tableSection {
    th {
      font-size: 12px;
    }
  }
}



