@import "src/App.module";

.main {
  width: 100%;
  height: 100%;
  min-width: 60rem;
}

.sectionsContainer {
  width: 100%;

  .group1 {
    width: 100%;

    &__header {
      width: 100%;
      height: 13rem;
      background: $color-blue-deep;
      @include flex-center;
      flex-direction: column;
      border-radius: 0 0 50% 50%;
      color: white;
      padding-top: 3rem;
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;

      & > p:first-child {
        font-size: 2rem;
        font-weight: $font-weight-bold;
        margin: 0;
      }
    } // __header

    &__mainTop {
      width: 100%;
      @include flex-space-between;

      &__img {
        width: 70%;
        height: 35rem;
        margin: 4rem;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
      } // __img

      &__comment {
        width: 30%;
        margin: 2rem 4rem 2rem 0;

        & > h2 { color: $color-blue-deep; }
        & > p { color: $color-gray-deep; }
        & > p > span {
          font-weight: $font-weight-bold;
          display: block;
          color: black;
          margin-bottom: .6rem;
          white-space: nowrap;
        }
      } //__comment
    } // __mainTop

    &__mainBottom {
      width: 100%;
      height: 60rem;
      background: $color-blue-deep;
      @include flex-center;
      position: relative;

      &__comment {
        width: 30%;
        height: 100%;
        margin: 15rem 0 0 3rem;
        opacity: 0;

        & > h2 { color: white; white-space: nowrap; width: 100%; }
        & > p {
          font-size: 1.3rem;
          text-decoration: underline;
          line-height: 2;
          white-space: nowrap;
          width: 100%;
        }
      } // __comment

      .cardBox {
        z-index: 1;
        width: 100%;
        height: 80%;
        margin: 5rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        opacity: 0;
      } // cardBox

      .ellipse {
        position: absolute;
        z-index: 0;

        &__red {
          width: 35rem;
          left: -15rem;
          bottom: -5rem;
        }

        &__blue {
          width: 17rem;
          left: 21rem;
          bottom: 28rem;
        }
      } // ellipse
    } // __mainBottom
  } // group1

  .group2 {
    width: 100%;
    height: 100%;
    background: $color-gray-light;
    @include flex-center;

    &__section {
      z-index: 1;
      width: 50%;
      margin: 4rem 3rem;
      opacity: 0;

      & > img {
        width: 100%;
        height: 40rem;
        box-shadow: 0 3px 3px 0 rgb(0, 0, 0, 0.2);
        background: grey;
      }

      & > h2 { color: $color-blue-deep; }
      & > p {
        height: 5rem;
        font-size: 1.1rem;
        color: $color-gray-deep;
      }
      & > p > span {
        display: block;
        font-weight: $font-weight-bold;
        color: black;
        margin-bottom: .6rem;
      }
    } //__section
  } // group2

  .group3 {
    width: 100%;
    background: $color-blue-deep;
    @include flex-center;
    flex-direction: column;
    padding: 2rem 0;

    & > h1 { color: white; opacity: 0; }
    & > p { font-size: 1.2rem; font-weight: $font-weight-bold; opacity: 0; }
    & > img {
      width: 80%;
      height: 42rem;
      opacity: 0;
    }
  } // group3
}

.header {
  width: 100%;
  min-width: 60rem;
  background: white;
  position: fixed;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.3);
  @include flex-space-between;
  z-index: 2;

  &__logo {
    width: 6rem;
    height: auto;
  }

  ul {
    list-style: none;
    @include flex-left;
    padding: 0;
    gap: 1.5rem;
    color: #515151;
    font-weight: $font-weight-bold;
    font-size: 1.2rem;
    margin: 1rem .5rem;

    li { cursor: pointer; }
  } // ul

  & > a {
    padding: .5rem 1rem;
    text-decoration: none;
    color: #515151;
    font-weight: $font-weight-bold;
    font-size: 1.1rem;
  } // Link
} // header

// 카드 디자인
.mainCard {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0 1px 4px 1px rgb(0, 0, 0, 0.3);

  .contentWrap {
    height: 100%;
    @include flex-center;
    justify-content: start;
    flex-direction: column;
    margin: 15% 1rem;

    .imgWrap {
      width: 40%;
      height: 15%;
      max-width: 5rem;
      border: 1px solid #CFCFCF;
      background: #F8F9FB;
      @include flex-center;
      padding: 5%;

      & > img {
        width: 50%;
      }
    }

    & > h2 {
      color: $color-blue-deep;
      margin: 5% 0;
    }

    & > p {
      width: 80%;
      height: 20%;
      text-align: center;
    }
  } // contentWrap
}

// 애니메이션
.visible1 {
  animation: fadeIn-bottom-top 0.6s ease forwards;
}
.visible2 {
  animation: fadeIn-bottom-top 2s ease forwards;
  animation-delay: .6s;
  opacity: 0;
}
.visible3 {
  animation: fadeIn-bottom-top 2s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
.visible4 {
  animation: fadeIn-left-right 1.5s ease forwards;
}
.visible5 {
  animation: fadeIn-left-right 1.5s ease forwards;
  animation-delay: .6s;
}
.visible6 {
  animation: fadeIn-bottom-top 0.8s ease forwards;
}
.visible7 {
  animation: fadeIn-bottom-top 0.8s ease forwards;
  animation-delay: .8s;
}
.visible8 {
  animation: fadeIn-bottom-top 1s ease forwards;
}
.visible9 {
  animation: fadeIn-bottom-top 3s ease forwards;
  animation-delay: .8s;
}

@keyframes fadeIn-bottom-top {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn-left-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}