@import "src/App.module";

.modal {
  width: 85%;
  margin: 0 auto;

  &__form {
    width: 100%;

    &__group {
      margin: 20px 0 20px 0;

      label {
        @include label-style;
      }

      textarea {
        resize: none;
        height: 120px;
      }
    }

    &__submit {
      @include button-style;
    }
  }

  // 파일 선택 디자인
  &__fileUploader {
    width: 100%;

    &__label {
      display: block;
      color: $color-blue-deep;
      text-decoration: underline;
      cursor: pointer;
      padding: 10px;

      input[type='file'] {
        display: none;
      }
    }

    &--selectedFileName {
      padding: 10px;
      font-size: 0.9rem;
      color: #868686;
      text-decoration: none;
    }
  }
}
