@import "src/App.module";

.search {
  width: 16rem; height: 20rem;
  padding: .5rem;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  &__title {
    font-size: 1.1rem;
    font-weight: $font-weight-bold;
    display: flex;
    justify-content: space-between;
  }

  &__searchBar {
    border-bottom: 1px solid grey;

    &__inputBox {
      margin: .5rem auto;
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0 8px;
      background: white;
    }

    img {
      width: 1.7rem;
    }

    input {
      font-size: .9rem;
      @include input-style-none;
    }
  }

  &__listBox {
    height: 70%;
    margin: 0 auto;
    overflow-y: scroll;

    div {
      width: 85%;
      margin: .4rem auto;
      cursor: pointer;
      font-size: .9rem;
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      border-bottom: 1px solid #bdbdbd;
      padding: .5rem;

      img { width: 4rem; }
      video { width: 6rem }

    }

    &__cancel {
      margin-left: 1.2rem;
      color: red;
      cursor: pointer;
    }
  }
}
