@import "src/App.module";

.search {
  position: absolute;
  bottom: 2.5rem;
  right: 0;
  width: 16rem; height: 20rem;
  padding: .5rem;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 99;

  &__title {
    font-size: 1.1rem;
    font-family: $font-KoPub-bold;
    display: flex;
    justify-content: space-between;

    p {
      color: grey;
      font-size: .8rem;
      padding: 2px;
      margin: 0;
      cursor: pointer;
    }
  }

  &__searchBar {
    border-bottom: 1px solid grey;

    &__inputBox {
      margin: .5rem auto;
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0 8px;
      background: white;
    }

    img {
      width: 1.7rem;
    }

    input {
      font-size: .9rem;
      @include input-style-none;
    }
  }

  &__listBox {
    height: 70%;
    margin: 0 auto;
    overflow-y: scroll;

    div {
      width: 85%;
      margin: .4rem auto;

      span {
        font-size: .9rem;
        cursor: pointer;
      }
    }
  }
}
