@import "src/App.module";

$widthSize: 80%;

@mixin container {
  background: white;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.revision {
  width: 100%; height: 100%;
  flex: 1;
  background: #F5F5F5;
  @include flex-center;

  .revisionContainer {
    height: 95%; width: 100%;
    min-width: 35rem;
    @include flex-center;
    flex-direction: column;
    caret-color: transparent; // 커서 깜빰임
    gap: 1rem;
  }
}

// 헤더
.revisionHeader {
  width: $widthSize;
  @include flex-space-between;
  border-bottom: 1px solid #ABABAB;
  padding-bottom: 1rem;

  .databaseSelectBox {
    width: 20%;
    min-width: 10rem;
  }

  .tabContainer {

  }
}

/* 테이블 스타일 */
.historyTable {
  @include container;
  width: $widthSize;
  height: 52%;
  overflow-x: auto;

  &__container {
    margin: .5rem 1rem;

    table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;

      thead {
        border-bottom: 1px solid #D8D8D8;
      }

      th {
        text-align: center;
      }

      /* 각 열의 너비 설정 */
      .checkout { width: 5%; }
      .message { width: 50%; }

      .date, .hash {
        width: auto;
      }

      tbody {
        tr {
          cursor: pointer;
          border-radius: 10px;

          &.selected {
            background-color: #62C6FF;
            border-radius: 10px;
          }
        }

        td {
          padding: .5rem;
          text-align: center;
        }

        .StampingNow { border-radius: 10px 0 0 10px; }

        .StampingNum { border-radius: 0 10px 10px 0; }
      } //tbody
    } //table
  } //__container
}

/* 컨텍스트 메뉴 스타일 */
.contextMenu {
  position: absolute;
  background-color: #EFEFEF;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9;
  width: 9rem;
  overflow: hidden;

  ul {
    list-style: none;
    margin: 0; padding: 0;


    li {
      padding: .3rem .8rem;
      cursor: pointer;
      font-family: $font-KoPub-bold;

      & > span { color: $color-gray-middle; font-size: .7rem }

      &:hover { background-color: #d3d3d3; }
    } // li
  } // ul
} //contextMenu

// 정보 레이어
.information {
  width: $widthSize; height: 37%;
  @include container;
  display: flex;
  flex-direction: column;

  .changes, .tables {
    display: flex;
    flex: 1;
  }

  .tableListInfoWrap {
    width: 20%;
    min-width: 10rem;
    max-height: 16rem;
  }

  .tableChangeView {
    width: 80%;
    border-left: 1px solid #D8D8D8;
  }
}

// 검색 바
.searchBar {
  height: 7%; width: $widthSize;
  @include container;

  &__container {
    margin: .5rem;
    @include flex-center;
    gap: .5rem;

    select { width: 15%; padding: .2rem}

    input[type='text'] { width: 70%; padding: .2rem }

    button {
      @include button-style(true, 15%, 1rem, .2rem)
    }
  } //__container
}

// 변경 사항 컨테이너
.stampingChange {
  @include container();
  width: $widthSize;
  height: 60%;
  display: flex;

  .leftContainer {
    width: 20%;
    min-width: 10rem;
    @include flex-center;
    flex-direction: column;

    .title {
      background: $color-blue-deep;
      margin: 0;
      padding-left: .5rem;
      @include flex-left;
      height: 15%;
      color: white;
    }

    & > div {
      width: 100%;
      height: 50%;
    }
  }

  .rightContainer {
    width: 80%;
    border-left: 1px solid #CDCDCD;
  }
}

// 스탬핑 메세지 (커밋)
.stampingMassage {
  @include container;
  width: $widthSize;
  height: 30%;

  &__container {
    margin: 1rem;
    height: 85%;

    .messageInput {
      margin-top: 1rem;
      height: 50%;
      resize: none;
      caret-color: black;
    }

    .stampingButWrap {
      width: 100%;
      text-align: right;

      .stampingBut {
        @include button-style(true, 12rem, 1rem, .3rem);
      }
    } //stampingButWrap
  } //__container
}

// 변경 사항 테이블 (프리뷰)
.changePreviewTable {
  width: 100%;
  font-size: 1rem;
  color: #333;

  table {
    width: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }

  th, td {
    min-width: 5rem;
    padding: 0;
    font-family: $font-KoPub-bold;
    text-align: center;
  }

  th {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: .3rem;
  }

  .stampingItem {
    display: block;
    font-size: 1rem;
    padding: .3rem;
  }

  .stampingItemGreen {
    background-color: #dffdd1;
  }

  .stampingItemRed {
    background-color: #fde3e3;
  }

  .stampingItemTransparent {
    background-color: transparent;
    color: #333;
  }
}

// 목록이 비어 있음을 알리는 메세지
.centeredText {
  height: 100%;
  @include flex-center;
  color: grey;
}
