@import "src/App.module";

$widthSize: 80%;

@mixin container {
  background: white;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.revision {
  width: 100%; height: 100%;
  flex: 1;
  background: #F5F5F5;
  @include flex-center;

  .revisionContainer {
    height: 95%; width: 100%;
    min-width: 35rem;
    @include flex-center;
    flex-direction: column;
    caret-color: transparent; // 커서 깜빰임
    gap: 1rem;
  }
}

// 헤더
.revisionHeader {
  width: $widthSize;
  @include flex-space-between;
  border-bottom: 1px solid #ABABAB;
  padding-bottom: 1rem;

  .databaseSelectBox {
    width: 20%;
    min-width: 10rem;
  }

  .tabContainer {

  }
}

// 히스토리 테이블
.historyTable {
  @include container;
  width: $widthSize; height: 52%;
  overflow-x: auto;

  &__container {
    margin: .5rem 1rem;

    table {
      width: 100%;
      border-collapse: collapse;

      .item {
        cursor: pointer;
      }

      thead {
        border-bottom: 1px solid #D8D8D8;

        .checkout {
          font-size: .8rem;
          text-align: center;
        }
      }


      th {
        text-align: center;
      }

      // 각 열의 너비 설정
      .checkout {
        width: 5%; // 제일 작은 너비
      }

      .message {
        width: 50%; // 제일 넓은 너비
      }

      .date, .hash {
        width: auto;
      }

      tbody {
        tr {
          border-radius: 10px;
          margin: .5rem;
        }

        td {
          padding: 0.5rem;
          border-bottom: none;
          text-align: center;
        }
      } // tbody
    } // table
  } // container


  // 선택된 행 스타일
  .selected {
    background-color: #62C6FF;
    border-radius: 10px; // 둥근 모서리
  }
}

// 정보 레이어
.information {
  width: $widthSize; height: 37%;
  @include container;
  display: flex;
  flex-direction: column;

  .changes, .tables {
    display: flex;
    flex: 1;
  }

  .tableListInfoWrap {
    width: 20%;
    min-width: 10rem;
  }

  .tableChangeView, .tablePreView {
    border-left: 1px solid #D8D8D8;
  }
}

// 검색 바
.searchBar {
  height: 7%; width: $widthSize;
  @include container;

  &__container {
    margin: .5rem;
    @include flex-center;
    gap: .5rem;

    select { width: 15%; padding: .2rem}

    input[type='text'] { width: 70%; padding: .2rem }

    button {
      @include button-style(true, 15%, 1rem, .2rem)
    }
  } //__container
}

// 변경 사항 컨테이너
.stampingChange {
  @include container();
  width: $widthSize;
  height: 60%;
  display: flex;

  .leftContainer {
    width: 20%;
    min-width: 10rem;
    @include flex-center;
    flex-direction: column;

    .title {
      background: $color-blue-deep;
      margin: 0;
      padding: .5rem;
      color: white;
    }

    & > div {
      width: 100%;
      height: 50%;
    }
  }

  .rightContainer {
    width: 80%;
    border-left: 1px solid #CDCDCD;
  }
}

// 스탬핑 메세지 (커밋)
.stampingMassage {
  @include container;
  width: $widthSize;
  height: 30%;

  &__container {
    margin: 1rem;
    height: 85%;

    .messageInput {
      margin-top: 1rem;
      height: 50%;
      resize: none;
    }

    .stampingButWrap {
      width: 100%;
      text-align: right;

      .stampingBut {
        @include button-style(true, 12rem, 1rem, .2rem);
      }
    } //stampingButWrap
  } //__container
}