@import "src/App.module";

.merge {
  width: 100%;
  height: 100%;

  &__container {
    @include flex-center;
    gap: 1rem;
    width: 100%; height: 90%;
    margin-top: 1rem;
  }

  .headerTitle {
    width: 100%;
    background: #F0F0F0;
    border-bottom: 1px solid $color-gray-middle;
    border-radius: 4px 4px 0 0;

    p {
      color: #8A8A8A;
      font-family: $font-KoPub-bold;
      font-size: 1.2rem;
      padding: .5rem 1rem;
      margin: 0;
    }
  }

  .mergeChoiceContainer {
    width: 75%;
    height: 95%;
    border: 1px solid $color-gray-middle;
    border-radius: 4px;

    .tableChoiceMainBox {
      width: 100%;
      height: 90%;
      @include flex-center;

      @media (max-width: 1024px) {
        display: block;
        height: 32rem;
        overflow-y: scroll;
        overflow-x: hidden;
      }

      .tableChoiceBox {
        width: 30%;
        height: 90%;
        @include flex-space-between;
        flex-direction: column;

        @media (max-width: 1024px) {
          width: 100%; height: auto;
        }

        .tableBox {
          border: 1px solid $color-gray-middle;
          border-radius: 4px;
          height: 85%; width: 100%;
          @include flex-space-between;
          flex-direction: column;

          .tables {
            width: 100%; height: 80%;
            overflow: auto;

            .table {
              width: auto;
              display: flex;
              padding: .8rem;
              font-size: 1.3rem;

              input[type='checkbox'] {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;
              }
            }
          }
          .comment {
            width: 100%;
            bottom: 0;
            border-radius: 4px;
            padding: 0 .5rem;

            p { margin: 0; }
          }
        }

        .previewBut {
          @include button-style(false, 100%, 1.3rem);
          margin-top: 3%;
        }
      }

      .doubleArrowImgBox {
        @include flex-center;

        .doubleArrowImg {
          width: 2.5rem;
          transform: rotate(-90deg);

          @media (max-width: 1024px) {
            transform: rotate(0);
          }
        }
      }

      .previewBox {
        width: 60%;
        height: 90%;
        border: 1px solid $color-gray-middle;
        border-radius: 4px;
        overflow: auto;

        @media (max-width: 1024px) {
          width: 100%; height: auto;
          min-height: 10rem;
          overflow: auto;
        }
      }
    }
  }

  .mergeInfoContainer {
    width: 25%; height: 95%;
    @include flex-space-between;
    flex-direction: column;

    .mergeInfoBox {
      width: 100%; height: 87%;
      border: 1px solid $color-gray-middle;
      border-radius: 4px;

      &__group {
        width: 90%;
        margin: 10% auto;

        label {
          @include label-style;
        }

        textarea {
          resize: none;
          height: 10rem;
        }
      }
    }

    .mergeBut {
      @include button-style(true, 100%, 1.3rem);
    }
  }
}