@import "src/App.module";

.dataBase {
  height: 100%;
  width: 100%;
  position: relative;
}

// 토글 버튼 디자인
.dataBase > .toggleContainer {
  display: flex;
  align-items: center;
  gap: .8rem;
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  top: .8rem;
}

.toggleLabel {
  font-size: .9rem;
  color: #5F5F5F;
}

.toggleSwitch {
  position: relative;
  width: 4rem;
  height: 1.9rem;
  background-color: #ddd;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggleSwitch::before {
  content: '';
  position: absolute;
  top: .15rem;
  left: .2rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #8C8C8C;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggleOn {
  background-color: #EFEFEF;

  &::before {
    background: #8C8C8C;
    transform: translateX(1.9rem);
  }
}

.toggleOff {
  background-color: #C6C6C6;

  &::before {
    transform: translateX(0);
    background: white;
  }
}