@import 'src/App.module';

@mixin tab-style {
  @include nowrap;
  text-align: center;
  font-weight: $font-weight-bold;
  cursor: pointer;
  padding: .5em .8em 1em .8em;
  border: 1px solid #bcbcbc;
  border-bottom: none;
  background: #ECECEC;
  color: #808080;
  height: 1em;
  border-radius: 6px 6px 0 0;
  margin-right: .4rem;
}

.tabBar {
  display: flex;
  align-items: end;
  padding: .5rem .5rem 0 .5rem;
  background: #D8D8D8;

  &__tab {
    @include tab-style;

    &.active {
      background: white;
      color: #00A3FF;
      height: 1.5em;
    }

    &.create-db-tab {
      @include tab-style;

      &:hover {
        background: #D0D0D0;
      }
    } //create-db-tab
  } // __tab
} // tabBar
