@import "src/App.module";

.apiArchive {
  @include container-default-style;

  .wrap {
    @include flex-space-between;
  }

  .tabContainer {
    width: 10rem;
  }

  .testerBut {
    color: $color-blue-deep;
    font-weight: $font-weight-bold;
    font-size: 1.1rem;
    text-decoration: underline;
    cursor: pointer;
    padding: .5rem .5rem 0 .5rem;
    margin: 1.5rem 0 0 0;
  }
}

//드롭 다운 디자인
.dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;

  .dropdownHeader {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    color: $color-blue-deep;
    font-weight: $font-weight-bold;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    padding: .5rem 1rem;
    border-radius: 4px;
    @include flex-space-between;
    cursor: pointer;
  }

  .arrow {
    color: black;
  }

  .arrow.open {
    transform: rotate(180deg);
  }

  .dropdownMain {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    background: #F5F5F5;
    padding: 0 2rem 1rem 2rem;
    border-radius: 4px;

    .deleteBut {
      text-align: right;
      font-size: .8rem;
      text-decoration: underline;
      color: #FF0000;
      cursor: pointer;
    }
  }
}

// 테스터 디자인
.tester {
  width: 22rem; height: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: white;
  padding: 1rem;
  z-index: 9;
  position: absolute;
  right: 3rem;
  top: 11.5rem;
  text-align: left;

  p {
    margin: .5rem 0;
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: 1.2rem;
  }

  span { font-weight: $font-weight-bold; }

  .butBox {
    @include flex-space-between;
    margin-top: 1rem;

    button {
      background: $color-blue-deep;
      color: white;
      border: none;
      border-radius: 4px;
      padding: .5rem 1rem;
      cursor: pointer;
    }
  }

  .responseBox pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
