@font-face {
  font-family: KoPubWorld Bold; /* 폰트 이름 정의 */
  src: url('assets/font/KoPubWorld Dotum Bold.ttf') format('truetype');
}

@font-face {
  font-family: KoPubWorld Light; /* 폰트 이름 정의 */
  src: url('assets/font/KoPubWorld Dotum Light.ttf') format('truetype');
}

@font-face {
  font-family: KoPubWorld Medium; /* 폰트 이름 정의 */
  src: url('assets/font/KoPubWorld Dotum Medium.ttf') format('truetype');
}

$color-blue-deep: #00A3FF;
$color-blue-light: #62C6FF;
$color-gray-deep: #515151;
$color-gray-middle: #9b9b9b;
$color-gray-light: #F5F5F5;
$font-KoPub-bold: KoPubWorld Bold, sans-serif;
$font-KoPub-medium: KoPubWorld Medium, sans-serif;
$font-KoPub-light: KoPubWorld Light, sans-serif;


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

@mixin flex-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 버튼 스타일 모두 없애기
@mixin button-none-style($fontSize: 1rem, $color: $color-blue-deep, $isBold: true) {
  border: none;
  background: none;
  cursor: pointer;
  font-size: $fontSize;
  color: $color;

  @if $isBold {
    font-family: $font-KoPub-bold;
  } @else {
    font-family: $font-KoPub-medium;
  }
}

// 둥근 모서리 선 디자인
@mixin border-radius($isBorderNone: true, $borderSize: 1px, $borderColor: #000) {
  border-radius: 4px;

  @if $isBorderNone {
    border: none;
  } @else {
    border: $borderSize solid $borderColor;
  }
}

// 파란색 버튼 스타일
@mixin button-style($isBlueBut: true, $width: 100%, $fontSize: 1.1rem) {
  width: $width;
  padding: .6rem;
  font-size: $fontSize;
  border-radius: 4px;
  cursor: pointer;
  font-family: $font-KoPub-bold;

  @if($isBlueBut) {
    background: $color-blue-deep;
    color: white;
    border: none;

    &:hover {
      background-color: #0284d0;
    }
  } @else {
    background: white;
    color: $color-blue-deep;
    border: 3px solid $color-blue-deep;
  }
}

//레이블 스타일
@mixin label-style {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;

  span {
    font-size: 10px;
    color: #808080;
    font-family: $font-KoPub-light;
  }
}

// input text 스타일 모두 없애기
@mixin input-style-none {
  border: none;
  background: none;
  outline: none;
}

// 글자 ...으로 가리기
@mixin nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// 글자 드래그 막기
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}


body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: $font-KoPub-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  //min-width: 60rem;

  &__content {
    flex: 1 0 auto;
  }

  // input, textarea 디자인
  input, textarea {
    width: 100%;
    padding: .5rem;
    font-size: .95rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: $font-KoPub-medium;
  }

  //스크롤바 디자인
  *::-webkit-scrollbar {
    width: 10px;
  }
  //*::-webkit-scrollbar-track {
  //  background: #f1f1f1;
  //}
  *::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

//선택 박스 디자인
select {
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  @include border-radius(false, 1px, #ccc);
  color: #333;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;

  &:hover {
    border-color: #007bff;
  }

  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
  }
}

